In [1]:
# 인터넷 연결
# html문서받아와서 분석

import requests
from bs4 import BeautifulSoup

In [22]:
def get_price(company_code) :
    url = "https://finance.naver.com/item/main.nhn?code=" + company_code
    #url = "https://finance.naver.com/item/main.nhn?code=035420"
    # print("url: " , url)
    
    result = requests.get(url)
    # print("result: ", result)
    
    bs_obj = BeautifulSoup (result.content, "html.parser")
    # print("html: ", bs_obj)
    
    no_today = bs_obj.find("p", {"class":"no_today"})
    blind_now = no_today.find("span", {"class":"blind"})
    
    all_td = bs_obj.find("td", {"class":"first"})
    first = all_td.find("span", {"class":"blind"})
    
    print(company_code , "의 시가: ", blind_now.text, ", 전일가: " , first.text)

In [15]:
company_codes = ["035420","025980","017800","044340","122870"]

In [16]:
for code in company_codes:
    print(code)

035420
025980
017800
044340
122870

In [19]:
for code in company_codes:
    get_price(code)

035420 의 최종 결과값:  133,000
025980 의 최종 결과값:  18,450
017800 의 최종 결과값:  82,300
044340 의 최종 결과값:  19,200
122870 의 최종 결과값:  43,250

In [20]:
company_list = ['NAVER','아난티','현대엘리베이','위닉스','와이지엔터테인먼트']

In [25]:
i = 0
for code in company_codes:
    print(company_list[i])
    get_price(code)
    i = i + 1

NAVER
035420 의 시가:  133,000 , 전일가:  138,500
아난티
025980 의 시가:  18,450 , 전일가:  19,400
현대엘리베이
017800 의 시가:  82,300 , 전일가:  83,300
위닉스
044340 의 시가:  19,200 , 전일가:  17,700
와이지엔터테인먼트
122870 의 시가:  43,250 , 전일가:  40,750