판다스 기초

In [1]:
import pandas as pd
import numpy as np

In [4]:
s = pd.Series([1,3,4,np.nan,6,8])
s

0    1.0
1    3.0
2    4.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
dates = pd.date_range('2013-01-03', periods=6)
dates

DatetimeIndex(['2013-01-03', '2013-01-04', '2013-01-05', '2013-01-06',
               '2013-01-07', '2013-01-08'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A','B','C','D'])
df

                   A         B         C         D
2013-01-03 -0.272175  0.558824  0.495739  0.061811
2013-01-04  0.693596  0.217094  2.247184  1.829654
2013-01-05 -0.287674 -2.737696 -0.485370  0.551803
2013-01-06  0.311482 -1.793944  0.065550  2.195824
2013-01-07  0.415370  2.595544 -1.231226  0.508957
2013-01-08  0.478320  0.248651  0.134153  0.521176

In [15]:
df.head(3)

                   A         B         C         D
2013-01-03 -0.272175  0.558824  0.495739  0.061811
2013-01-04  0.693596  0.217094  2.247184  1.829654
2013-01-05 -0.287674 -2.737696 -0.485370  0.551803

In [16]:
df.index

DatetimeIndex(['2013-01-03', '2013-01-04', '2013-01-05', '2013-01-06',
               '2013-01-07', '2013-01-08'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [18]:
df.values

array([[-0.27217469,  0.55882414,  0.49573851,  0.06181096],
       [ 0.69359639,  0.21709405,  2.24718385,  1.82965374],
       [-0.28767422, -2.73769553, -0.48536955,  0.5518029 ],
       [ 0.31148238, -1.79394431,  0.06555044,  2.19582419],
       [ 0.41536987,  2.59554409, -1.2312263 ,  0.50895706],
       [ 0.47831973,  0.24865079,  0.1341533 ,  0.52117631]])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2013-01-03 to 2013-01-08
Freq: D
Data columns (total 4 columns):
A    6 non-null float64
B    6 non-null float64
C    6 non-null float64
D    6 non-null float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [20]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.223153 -0.151921  0.204338  0.944871
std    0.409260  1.883233  1.167807  0.854583
min   -0.287674 -2.737696 -1.231226  0.061811
25%   -0.126260 -1.291185 -0.347640  0.512012
50%    0.363426  0.232872  0.099852  0.536490
75%    0.462582  0.481281  0.405342  1.510191
max    0.693596  2.595544  2.247184  2.195824

In [22]:
df.sort_values(by='B', ascending=False)

                   A         B         C         D
2013-01-07  0.415370  2.595544 -1.231226  0.508957
2013-01-03 -0.272175  0.558824  0.495739  0.061811
2013-01-08  0.478320  0.248651  0.134153  0.521176
2013-01-04  0.693596  0.217094  2.247184  1.829654
2013-01-06  0.311482 -1.793944  0.065550  2.195824
2013-01-05 -0.287674 -2.737696 -0.485370  0.551803

In [23]:
df

                   A         B         C         D
2013-01-03 -0.272175  0.558824  0.495739  0.061811
2013-01-04  0.693596  0.217094  2.247184  1.829654
2013-01-05 -0.287674 -2.737696 -0.485370  0.551803
2013-01-06  0.311482 -1.793944  0.065550  2.195824
2013-01-07  0.415370  2.595544 -1.231226  0.508957
2013-01-08  0.478320  0.248651  0.134153  0.521176

In [24]:
df['A']

2013-01-03   -0.272175
2013-01-04    0.693596
2013-01-05   -0.287674
2013-01-06    0.311482
2013-01-07    0.415370
2013-01-08    0.478320
Freq: D, Name: A, dtype: float64

In [25]:
df[0:3]

                   A         B         C         D
2013-01-03 -0.272175  0.558824  0.495739  0.061811
2013-01-04  0.693596  0.217094  2.247184  1.829654
2013-01-05 -0.287674 -2.737696 -0.485370  0.551803